<strong class="bigger green">About Studio</strong><br>
<img src="images/spacer.gif" height="18" width="1"><br>
<img src="images/2im1.jpg" class="img" align="left">
<strong>Lorem ipsum dolor</strong> sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie
lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Lorem ipsum dolor sit amet, consectetuer
adipiscing elit. Praesent vestibulum molestie lacus. <a href="#">more...</a><br>
<br>
<img src="images/line_hor.jpg"><br>
<br>
<strong class="bigger green">Studio Profile</strong><br>
<img src="images/spacer.gif" height="18" width="1"><br>
<img src="images/2im2.jpg" class="img" align="left">
<strong>Lorem ipsum dolor </strong>sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie
lacus.<br>
<br>
Aenean nonummy hendrerit mauris. Phasellus porta. Lorem ipsum dolor sit amet consectetuer. <a href="#">more...</a><br>
<br>
<img src="images/line_hor.jpg"><br>
<br>
<strong class="bigger green">Why People Choose Us</strong><br>
<img src="images/spacer.gif" height="18" width="1"><br>
<strong>Lorem ipsum dolor</strong> sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie
lacus. Aenean nonummy hendrerit mauris. Phasellus porta.<br>
<br>
Fusce suscipit varius mi Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus
porta. Fusce suscipit varius. <a href="#">more...</a>
<br>

<br>
<img src="images/line_hor.jpg">
<br>
<br>
