<td valign="top">
  <table width="778" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="524" valign="top">
        <table width="524" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="40" valign="bottom" background="images/u_lefttop.jpg">
              <table width="515" height="39" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <div align="left"></div>
                    <div align="right" class="style2">
                      <div align="left">О нас</div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" background="images/u_leftback.jpg">
              <table width="99%" height="100%" border="0" cellpadding="7" cellspacing="0">
                <tr>
                  <td valign="top">
                    <div align="justify"><span class="style1"><img src="images/u_pic2.jpg" width="82" height="85" align="left">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mag-na aliquam erat volutpat. Ut wisi enim ad minim veniam.
                  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio digniss qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. odio digniss qui blandit praesent luptatum zzril delenit augue duis dolore.</span>
                    </div>
                    <p align="justify" class="style1">Lorem ipsum dolor sit amet, consectetuer adipisci-ng elit, sed
                      diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                      minim veniam, quis nostrud exerci. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                      diam nonummy nibh euismod tincidunt ut laoreet dolore mag-na aliquam erat volutpat. Ut wisi enim
                      ad minim veniam. </p>

                    <p align="justify" class="style1">Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                      esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                      iusto odio digniss qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                      facilisi. odio digniss qui blandit praesent luptatum zzril delenit augue duis dolore.</p>

                    <p align="justify" class="style1">
                      <img src="images/u_pic3.jpg" width="82" height="87" hspace="5" align="right">Lorem ipsum dolor sit amet,
                      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mag-na
                      aliquam erat volutpat. Ut wisi enim ad minim veniam. Duis autem vel eum iriure dolor in hendrerit
                      in vulputate velit esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                      eros et accumsan et iusto odio digniss qui blandit praesent luptatum zzril delenit augue duis
                      dolore te feugait nulla facilisi. odio digniss qui blandit praesent luptatum zzril delenit augue.
                    </p>

                    <p align="right" class="style1">&nbsp;</p></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="5px"><img src="images/u_leftdown.jpg" height="17"></td>
          </tr>
        </table>
      </td>

      <td width="254" valign="top">
        <table width="254" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="51" background="images/search.jpg">
              <table width="185" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="141">
                    <input type="text" name="textfield222" style="border-color:#FFFFFF;border-width:1;background-color:#ffffff;border-style:solid;font-size:12px;width=140">
                  </td>
                  <td width="44">
                    <div align="center"><img src="images/arrow.jpg" width="12" height="9"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


          <tr>
            <td height="36" valign="bottom" background="images/tabrighttop.jpg">
              <table width="245" height="32" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <div align="right"><span class="style2">Paragraph Name Comes Here</span></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" background="images/tabrightback.jpg">
              <table width="99%" height="100%" align=right border="0" cellpadding="7" cellspacing="0">
                <tr>
                  <td valign="top">
                    <div align="justify">
                      <span class="style1"><img src="images/u_pic1.jpg" align="left">Lorem ipsum dolor sit amet, c-onsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore ma-gna aliquam erat volutpat. Ut wisi enim ad minim veniam.</span>
                    </div>
                    <p align="justify" class="style1">Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                      esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                      iusto odio digniss qui blandit prae-sent luptatum zzril delenit augue duis dolore te feugait nulla
                      facilisi.</p>

                    <p align="justify" class="style1">Lorem ipsum dolor sit amet, consectetuer adipis-cing elit, sed
                      diam nonummy nibh euismod tinci-dunt ut laoreet dolore magna aliquam erat volu-tpat. Ut wisi enim
                      ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetuer.</p>

                    <p align="right" class="style1"><img src="images/moreinfo.jpg" width="63" height="14"></p></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="5px"><img src="images/tabrightdown.jpg" width="254" height="17"></td-->
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td>