<td valign="top">
  <table width="778" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="524" valign="top">
        <table width="524" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="40" valign="bottom" background="images/u_lefttop.jpg">
              <table width="515" height="39" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <div align="left"></div>
                    <div align="right" class="style2">
                      <div align="left">Контакты</div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" background="images/u_leftback.jpg">
              <table width="99%" height="100%" border="0" cellpadding="7" cellspacing="0">
                <tr>
                  <td valign="top">


<strong class="bigger green">Our Address</strong><br>
<img src="images/spacer.gif" height="18" width="1"><br>
<img src="images/5im1.jpg" class="img" align="left">
9870 St Vincent Place,<br>
Glasgow, DC 45 Fr 45.<br>
Freephone:<img src="images/spacer.gif" height="1" width="8">+1 800 559 6580<br>
Telephone:<img src="images/spacer.gif" height="1" width="11">+1 959 603 6035<br>
FAX:<img src="images/spacer.gif" height="1" width="42">+1 101 889 9898<br>
<br>
<img src="images/line_hor_long.jpg"><br>
<br>
<strong class="bigger green">Contact Form</strong><br>
<img src="images/spacer.gif" height="10" width="1"><br>

<form action="" style="margin:0; padding:0; ">
  <div>
    <div id="right_content_left">
      Your first name:<br>

      <div><input class="form" type="text"></div>
      <img src="images/spacer.gif" height="5" width="1"><br>
      Your last name:<br>

      <div><input class="form" type="text"></div>
      <img src="images/spacer.gif" height="5" width="1"><br>
      E-mail address:<br>

      <div><input class="form" type="text"></div>
      <img src="images/spacer.gif" height="5" width="1"><br>
      Your telephone:<br>

      <div><input class="form" type="text"></div>
      <br>
    </div>
    <div id="right_content_right">
      Your message:<br>

      <div><textarea class="textarea" cols="5" rows="5"></textarea></div>
      <img src="images/spacer.gif" height="5" width="1"><br>

      <div align="right"><a><img src="images/clear.jpg"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a><img src="images/send.jpg"></a>&nbsp;&nbsp;</div>
    </div>
  </div>
</form>

<br>
<img src="images/line_hor_long.jpg">
<br>
<br>

                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="17"><img src="images/u_leftdown.jpg" height="17"></td>
          </tr>
        </table>
      </td>

      <td width="254" valign="top">
        <table width="254" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="51" background="images/search.jpg">
              <table width="185" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="141">
                    <input type="text" name="textfield222" style="border-color:#FFFFFF;border-width:1;background-color:#ffffff;border-style:solid;font-size:12px;width=140">
                  </td>
                  <td width="44">
                    <div align="center"><img src="images/arrow.jpg" width="12" height="9"></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


          <tr>
            <td height="36" valign="bottom" background="images/tabrighttop.jpg">
              <table width="245" height="32" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <div align="right"><span class="style2">Paragraph Name Comes Here</span></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" background="images/tabrightback.jpg">
              <table width="99%" height="100%" align=right border="0" cellpadding="7" cellspacing="0">
                <tr>
                  <td valign="top">
                    <div align="justify">
                      <span class="style1"><img src="images/u_pic1.jpg" align="left">Lorem ipsum dolor sit amet, c-onsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore ma-gna aliquam erat volutpat. Ut wisi enim ad minim veniam.</span>
                    </div>
                    <p align="justify" class="style1">Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                      esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                      iusto odio digniss qui blandit prae-sent luptatum zzril delenit augue duis dolore te feugait nulla
                      facilisi.</p>

                    <p align="justify" class="style1">Lorem ipsum dolor sit amet, consectetuer adipis-cing elit, sed
                      diam nonummy nibh euismod tinci-dunt ut laoreet dolore magna aliquam erat volu-tpat. Ut wisi enim
                      ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetuer.</p>

                    <p align="right" class="style1"><img src="images/moreinfo.jpg" width="63" height="14"></p></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="17"><img src="images/tabrightdown.jpg" width="254" height="17"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td>
