<strong class="bigger green">Our Address</strong><br>
<img src="images/spacer.gif" height="18" width="1"><br>
<img src="images/5im1.jpg" class="img" align="left">
9870 St Vincent Place,<br>
Glasgow, DC 45 Fr 45.<br>
Freephone:<img src="images/spacer.gif" height="1" width="8">+1 800 559 6580<br>
Telephone:<img src="images/spacer.gif" height="1" width="11">+1 959 603 6035<br>
FAX:<img src="images/spacer.gif" height="1" width="42">+1 101 889 9898<br>
<br>
<img src="images/line_hor.jpg"><br>
<br>
<strong class="bigger green">Contact Form</strong><br>
<img src="images/spacer.gif" height="10" width="1"><br>

<form action="" style="margin:0; padding:0; ">
  <div>
    <div id="right_content_left">
      Your first name:<br>

      <div><input class="form" type="text"></div>
      <img src="images/spacer.gif" height="5" width="1"><br>
      Your last name:<br>

      <div><input class="form" type="text"></div>
      <img src="images/spacer.gif" height="5" width="1"><br>
      E-mail address:<br>

      <div><input class="form" type="text"></div>
      <img src="images/spacer.gif" height="5" width="1"><br>
      Your telephone:<br>

      <div><input class="form" type="text"></div>
      <br>
    </div>
    <div id="right_content_right">
      Your message:<br>

      <div><textarea class="textarea" cols="5" rows="5"></textarea></div>
      <img src="images/spacer.gif" height="5" width="1"><br>

      <div align="right"><a><img src="images/clear.jpg"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a><img src="images/send.jpg"></a>&nbsp;&nbsp;</div>
    </div>
  </div>
</form>

<br>
<img src="images/line_hor.jpg">
<br>
<br>
