<td valign="top">
  <table width="778" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="257" valign="top">
        <table width="257" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="36" valign="bottom" background="images/tablefttop.jpg">
              <table width="245" height="32" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <div align="right" class="style2">Услуги</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" background="images/tableftback.jpg">
              <table width="99%" height="100%" border="0" cellpadding="7" cellspacing="0">
                <tr>
                  <td valign="top">
                    <strong class="style2 green">Туры</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">поиск туров</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">акции</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">специальные предложения, горящие туры</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">самые дешевые авиабилеты</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Образование за рубежом</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">среднее образование</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">высшее образование</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">специализированные курсы</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">по интересам (для саморазвития и удовольствия)</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Языковые курсы</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">английский язык в Великобритании, США</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">немецкий язык в Германии</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">китайский в Китае</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">арабский в Марокко</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">все</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Программы культурного погружения</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Волонтёрские программы</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">экологические</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">исследовательские</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">социальные</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Эзотерический туризм</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">места силы</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">семинары, фестивали</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">йога-туры</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">паломничество</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Работа за рубежом</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">международные молодёжные программы</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">стажировки</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Недвижимость за рубежом</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">жилая</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">коммерческая</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Организационные вопросы</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">авиа-, ж/д билеты</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">бронирование отелей</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">страховка</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">оформление виз</a>
                    <br>
                    <img src="images/spacer.gif" height="1" width="7"><img src="images/arr.gif" class="align" hspace="7"><a href="#" class="style6">бюро переводов</a>
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <strong class="style2 green">Клуб путешественников</strong>
                    <img src="images/spacer.gif" height="18" width="1">
                    <br>
                    <br>
                    <img src="images/line_hor.jpg">
                    <br>
                    <br>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="17"><img src="images/tableftdown.jpg" width="257" height="17"></td>
          </tr>
        </table>
      </td>
      <td valign="top">
        <table width="267" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="77"><img src="images/tabmiddletop.jpg" width="267" height="77"></td>
          </tr>
          <tr>
            <td valign="top" background="images/tabmiddleback.jpg">
              <table width="212" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="80" valign="middle">
                    <div align="justify"><span class="style4"><strong>September 16, 2003 </strong><br>
                  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros eu feugiat nulla eu feugiat nulla</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td height="2"><img src="images/tabmiddlestripe.jpg" width="212" height="2"></td>
                </tr>
                <tr>
                  <td height="80" valign="middle"><span class="style4"><strong>September 12, 2003 </strong><br>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros eu feugiat nulla eu feugiat nulla</span>
                  </td>
                </tr>
                <tr>
                  <td height="2"><img src="images/tabmiddlestripe.jpg" width="212" height="2"></td>
                </tr>
                <tr>
                  <td height="80" valign="middle"><span class="style4"><strong>September 12, 2003 </strong><br>
Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros eu feugiat nulla eu feugiat nulla</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="34"><img src="images/tabmiddledown.jpg" width="267" height="34"></td>
          </tr>
        </table>
      </td>
      <td width="254" valign="top">
        <table width="254" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="36" valign="bottom" background="images/tabrighttop.jpg">
              <table width="245" height="32" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <div align="right"><span class="style2">Paragraph Name Comes Here</span></div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td valign="top" background="images/tabrightback.jpg">
              <table width="99%" height="100%" align=right border="0" cellpadding="7" cellspacing="0">
                <tr>
                  <td valign="top">
                    <div align="justify">
                      <span class="style1"><img src="images/pic2.jpg" align="left">Lorem ipsum dolor sit amet, c-onsectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore mag-na aliquam erat volutpat. Ut wisi enim ad minim veniam.</span>
                    </div>
                    <p align="justify" class="style1">Duis autem vel eum iriure dolor in hendrerit in vulputate
                      velit esse mole stie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                      accumsan et iusto odio digniss qui blandit prae-sent luptatum zzril delenit augue duis dolore
                      te feugait nulla facilisi.</p>

                    <p align="justify" class="style1">Lorem ipsum dolor sit amet, consectetuer adipis-cing elit, sed
                      diam nonummy nibh euismod tinci-dunt ut laoreet dolore magna aliquam erat volu-tpat. Ut wisi
                      enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetuer.</p>

                    <p align="right" class="style1"><img src="images/moreinfo.jpg" width="63" height="14"></p></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="17"><img src="images/tabrightdown.jpg" width="254" height="17"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</td>
