a:hover{color:#FFFFFF; text-decoration:underline; }
a{text-decoration:none}

.menu{display:block;width:75px;height:75px;border-radius:50px;font-size:15px;color:#fff;line-height:25px;text-align:center;text-decoration:none;background:#1a335c}
.menu:hover{color:#ccc;text-decoration:none;background:#125389}

.menu-long{display:block;width:75px;height:75px;border-radius:50px;font-size:15px;color:#fff;line-height:19px;text-align:center;text-decoration:none;background:#1a335c}
.menu-long:hover{color:#ccc;text-decoration:none;background:#125389}

.playButton {
    /*background-image: -moz-radial-gradient(45px 45px 45deg, circle farthest-corner, lightgreen 0%, green 100%, blue 5%);
    background-image: -webkit-radial-gradient(45px 45px 45deg, circle farthest-corner, lightgreen 0%, green 100%, blue 5%);
    background-image: radial-gradient(45px 45px 45deg, circle farthest-corner, lightgreen 0%, green 100%, blue 5%);*/

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
    background: -webkit-linear-gradient(top, #2F2727, #1a82f7);
    background: -moz-linear-gradient(top, #2F2727, #1a82f7);
    background: -ms-linear-gradient(top, #2F2727, #1a82f7);
    background: -o-linear-gradient(top, #2F2727, #1a82f7);

    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.3);
    height: 70px;
    position: relative;
    width: 70px;
    text-decoration: none;
    color: white;
    font-size:12px;
    font-weight: bold;
}

.playButton:hover {
    /*background-image: -moz-radial-gradient(45px 45px 45deg, circle farthest-corner, green 0%, lightgreen 100%, blue 95%);
    background-image: -webkit-radial-gradient(45px 45px 45deg, circle farthest-corner, green 0%, lightgreen 100%, blue 95%);
    background-image: radial-gradient(45px 45px 45deg, circle farthest-corner, green 0%, lightgreen 100%, blue 95%);*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#1a82f7));
    background: -webkit-linear-gradient(top, #1a82f7, #2F2727);
    background: -moz-linear-gradient(top, #1a82f7, #2F2727);
    background: -ms-linear-gradient(top, #1a82f7, #2F2727);
    background: -o-linear-gradient(top, #1a82f7, #2F2727);
    text-decoration: none;
}

.circle {
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    line-height:69px;
}

/*.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    /* width and height can be anything, as long as they're equal */
/*}*/

.circle-long {
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    line-height:17px;
}

/* Create the animation blocks */
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}

/* Spinning, gradient circle; CSS only! */
.advanced {
    width: 200px;
    height: 200px;

    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
    background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);


    /* webkit chrome, safari, mobile */
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3s; /* 3 seconds */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    /* mozilla ff */
    -moz-animation-name: spin;
    -moz-animation-duration: 3s; /* 3 seconds */
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    /* microsoft ie */
    -ms-animation-name: spin;
    -ms-animation-duration: 3s; /* 3 seconds */
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

.edge-menu {
    margin-top: 120px;
}

.middle-menu {
    margin-top: 190px;
}

.center-menu {
    margin-top: 225px;
}
#header {
    background: url(header-min.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 332px;
}

body {
    background-color: #5E4B3A;
    background-image: url(bg.jpg);
}
.style2 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.style1 {	font-family: Tahoma;
    font-size: 11px;
    color: #A3C8E1;
}
.style4 {font-family: Tahoma; font-size: 11px; color: #77869F; }
.style5 {color: #FFFFFF}
.style6 {font-family: Tahoma; font-size: 11px; color: #FFFFFF; }
.style7 {color: #000000}

/*--------------------------------------------------- old ----------------------------------------------------------*/

#menu {
    height: 24px;
    padding-left: 43px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 19px;
    padding: 15px 30px;
    background: url(images/img05.gif) no-repeat bottom center;
    margin-right: 1px;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: lowercase;
    color: #FFFFFF;
}

#menu a:hover {
    color: #FFFFFF;
}

#menu .current_page_item a {
    color: #FFFFFF;
}

#wrap {
    margin: 0 auto;
    padding:0;
    width:748px;
}

#top {margin:0px auto 0px auto;
    background:url(images/top_bg.jpg);
    width:748px;
    height:193px;
    text-align:left;
    padding:0px;
}

#top2 {margin:0px auto 0px auto;
    background:url(images/top_bg2.jpg);
    width:748px;
    height:193px;
    text-align:left;
    padding:0px;
}

#top3 {margin:0px auto 0px auto;
    background:url(images/top_bg3.jpg);
    width:748px;
    height:193px;
    text-align:left;
    padding:0px;
}

#top4 {margin:0px auto 0px auto;
    background:url(images/top_bg4.jpg);
    width:748px;
    height:193px;
    text-align:left;
    padding:0px;
}

#top5 {margin:0px auto 0px auto;
    background:url(images/top_bg5.jpg);
    width:748px;
    height:193px;
    text-align:left;
    padding:0px;
}

#content {
    width:748px;
    margin:0px 0px 0px 0px;
    padding:0;
    text-align:left;}

.line {background-image:url(images/line.gif);
    width:161px;
    height:2px;
    margin-top:3px;
    margin-bottom:9px;
    margin-left:44px;}

#left_content {background:url(images/menu_bg.jpg) right top no-repeat;
    padding:0;
    margin:0;
    text-align:left;
    width:213px;
    float:left;
    display:table;
}

/*-------------------------------------------------------PAGE_1_2_3_4-------------------------------------------------------*/
#right_content {background:url(images/px.jpg) left repeat-y;
    padding:0;
    margin:0;
    float:right;
    text-align:left;
    width:535px;
    display:table;
}

#inner_right {margin:25px 80px 25px 20px;}

/*-------------------------------------------------------PAGE_1_2_3_4-------------------------------------------------------*/
#right_content_left {
    padding:0;
    margin:0;
    float:left;
    text-align:left;
    width:217px;}

#right_content_right {
    padding:0;
    margin:0;
    float:right;
    text-align:left;
    width:200px;}


/*--------------------------------------------------------------------------------------------------------------------*/

.blue {color:#9CC2DD; text-decoration:none}
.green {color:#A9FF00; text-decoration:none}
.dark {color:#000000; text-decoration:none}
.white {color:#ffffff; text-decoration:none}

.align {vertical-align:middle}
.big {font-size:13px}
.bigg {font-size:12px}
.bigger {font-size:15px}
.n {font-size:11px}
.sm {font-size:10px}

.clear {
    clear:both}

a {	color:#ffffff; text-decoration:underline}

.align {vertical-align:middle}

.form { width:206px;
    height:20px;
    font-family:tahoma;
    font-size:13px;
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
    background-color:#33556B;
    color:#ffffff;
    margin-left:0px;
    margin-right:0px}

.textarea { width:200px;
    height:143px;
    font-family:tahoma;
    font-size:13px;
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
    background-color:#33556B;
    color:#ffffff;
    overflow:auto;
    margin-left:0px;
    margin-right:0px}

.u		{text-decoration:underline}
.nu		{text-decoration:none}
.t 		{text-transform:uppercase}

a:hover{text-decoration:none;}
.a:hover{text-decoration:none;}
.menu:hover{text-decoration:underline; color:#A9FF00}